src/main/app/ramlexample.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="RamlExample-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
    <apikit:config name="RamlExample-config" raml="RamlExample.raml" consoleEnabled="false" doc:name="Router" />
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="root" database="muledb" doc:name="MySQL Configuration"/>
    <flow name="RamlExample-main">
        <http:listener config-ref="RamlExample-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="RamlExample-config" doc:name="APIkit Router" />
        <exception-strategy ref="RamlExample-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="RamlExample-console">
        <http:listener config-ref="RamlExample-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="RamlExample-config" doc:name="APIkit Console" />
    </flow>
    <flow name="get:/employees/{employeeID}:RamlExample-config">
        <set-payload value="{&quot;employeeID&quot;:&quot;1&quot;, &quot;employeeName&quot;:&quot;Tom Berry&quot;,&quot;designation&quot;:&quot;SSE&quot;}" doc:name="Set Payload" />
        <logger message="REQUEST IS RECEIVED....FOR TOTAL EMPLOYEES #[payload]" level="INFO" doc:name="Logger"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT  FROM employees WHERE employeeID=#[message.inboundProperties.'http.uri.params'.ID]]]></db:parameterized-query>
        </db:select>
        <logger level="INFO" doc:name="Logger" message="RESPONSE IS RECEIVED....FOR TOTAL EMPLOYEES #[payload]"/>
    </flow>
    <flow name="get:/employees:RamlExample-config">
        <logger message="REQUEST IS RECEIVED....FOR SINGLE EMPLOYEE #[payload]" level="INFO" doc:name="Logger"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from employees;]]></db:parameterized-query>
        </db:select>
        <logger message="RESPONSE IS RECEIVED....FOR SINGLE EMPLOYEE #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <apikit:mapping-exception-strategy name="RamlExample-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
